<!--
  ~ SPDX-FileCopyrightText: 2017-2026 Enedis
  ~
  ~ SPDX-License-Identifier: Apache-2.0
  ~
  -->

<span class="badge"
[ngClass]="{'bg-info': status == 'SUCCESS',
            'bg-danger':status == 'FAILURE',
            'badge-stopped': status == 'STOPPED',
            'badge-running': status == 'RUNNING' || status == 'PAUSED',
            'badge-not-executed': status == 'NOT_EXECUTED',
            'badge-skipped': status == 'SKIPPED'
      }">
  {{ status_h }}
  @if (spin) {
    <span [hidden]="!(status == 'RUNNING')"
      class="fa fa-spinner fa-pulse running"
    aria-hidden="true"></span>
  }
</span>
